


.libro-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 400px;
  min-height: 250px;
}

.portada {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; // centra la imagen horizontalmente
  max-height: 250px;
  
}

.centrado {
  text-align: center;
}