.imagen{
    max-height: 72%; border-radius: 10px; min-width: 310px;
}

.boton-sesion{
    padding-left: 0px; padding-right: 0px;
}

.centrar{
    text-align: center;
}

.boton-registro{
    padding-right: 15px;
}