<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="credentials.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="credentials.password"></ion-input>
  </ion-item>

  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-button routerLink="" title="Home">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="login()" [disabled]="!credentials.username || !credentials.password">
          Iniciar Sesión
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
