<ion-tabs>

  <ion-tab-bar slot="button">

    <ion-tab-button tab="destacados" href="/tabs/destacados">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Destacados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar" href="/tabs/buscar">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoritos" href="/tabs/favoritos">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config" href="/tabs/config">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>

    <!-- Cerrar sesión -->
    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
