<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <!-- cambio icono -->
      <ion-icon aria-hidden="true" name="book"></ion-icon>
     <!-- cambio nombre boton --> 
      <ion-label>Destacados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pestania-config" href="../pestania-config/">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
  
  <ion-router-outlet></ion-router-outlet> 

</ion-tabs>
