<ion-header>
  <ion-toolbar>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [src]="fotoUrl" alt="foto de perfil">
    </ion-avatar>
    <ion-label>
      <h2>{{ nombreUsuario || 'Usuario' }}</h2>
      <p>{{ email || 'sin email' }}</p>
    </ion-label>
  </ion-item>





  <ion-list inset>
    <ion-list-header>Cuenta</ion-list-header>

    <ion-item button detail="false" (click)="cambiarUsuarioInline()">
      <ion-icon slot="start" name="create-outline"></ion-icon>
      <ion-label>Cambiar nombre de usuario</ion-label>
    </ion-item>

    <ion-item button detail="false" (click)="cambiarPasswordInline()">
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-label>Cambiar contraseña</ion-label>
    </ion-item>

    <ion-item button detail="false" (click)="cambiarFotoInline()">
      <ion-icon slot="start" name="camera"></ion-icon>
      <ion-label>Cambiar foto de perfil</ion-label>
    </ion-item>
  </ion-list>

  <ion-list inset>
    <ion-list-header>Apariencia</ion-list-header>
    <ion-item button detail="false" (click)="openTemaModal()">
      <ion-icon name="color-palette-outline" slot="start"></ion-icon>
      <ion-label>Tema</ion-label>
      <ion-note slot="end">{{ (theme.pref | async) }}</ion-note>
    </ion-item>
  </ion-list>

  <ion-list inset>
    <ion-list-header>Acerca de</ion-list-header>
    <ion-item lines="none">
      <ion-icon name="information-circle-outline" slot="start"></ion-icon>
      <ion-label>
        <h3>Libros Grupo 3</h3>
        <p>Versión 1.0.0</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list inset>
    <ion-item button detail="false" (click)="confirmarLogoutInline()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>

    <ion-item button detail="false" color="danger" (click)="confirmarEliminarCuentaInline()">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      <ion-label>Eliminar cuenta</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
