//modo claro
:root {
  color-scheme: light;

  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255,255,255;

  --ion-text-color: #1f2937;
  --ion-text-color-rgb: 31,41,55;

  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56,128,255;
  --ion-color-primary-contrast: #ffffff;

  --ion-toolbar-background: var(--ion-background-color);
  --ion-card-background: #ffffff;
  --ion-item-background: #ffffff;
  --ion-border-color: rgba(0,0,0,0.08);

  --ion-color-success: #2dd55b;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #eb445a;
  --ion-color-medium: #92949c;
  --ion-color-light: #f4f5f8;
  --ion-color-dark: #222428;
}

//modo oscuro


html.dark,
:root.dark,
html.dark.md,
:root.dark.md {
  color-scheme: dark;

  --ion-background-color: #0b0f14;
  --ion-background-color-rgb: 11,15,20;

  --ion-text-color: #e5e7eb;
  --ion-text-color-rgb: 229,231,235;

  --ion-color-primary: #5aa9ff;
  --ion-color-primary-rgb: 90,169,255;
  --ion-color-primary-contrast: #0b0f14;

  --ion-toolbar-background: #0f141b;
  --ion-card-background: #111827;
  --ion-item-background: #0f141b;
  --ion-border-color: rgba(255,255,255,0.08);

  --ion-color-success: #2dd55b;
  --ion-color-warning: #ffd534;
  --ion-color-danger: #ff4961;
  --ion-color-medium: #989aa2;
  --ion-color-light: #1e2023;
  --ion-color-dark: #f4f5f8;
}



// varibles
ion-content {
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
}

ion-app,
html,
body {
  background: var(--ion-background-color);
  color: var(--ion-text-color);
}

ion-toolbar {
  --background: var(--ion-toolbar-background);
  --color: var(--ion-text-color);
}

ion-item {
  --background: var(--ion-item-background);
  color: var(--ion-text-color);
  --border-color: var(--ion-border-color);
}

ion-card {
  --background: var(--ion-card-background);
  color: var(--ion-text-color);
}


ion-tab-bar {
  --background: var(--ion-toolbar-background);
  --color: var(--ion-text-color);
}
ion-modal {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
}

:root {
  color-scheme: light;
  --ion-background-color: #ffffff;
  --ion-text-color: #1f2937;
  --ion-color-primary: #3880ff;
  --ion-toolbar-background: var(--ion-background-color);
  --ion-card-background: #ffffff;
  --ion-item-background: #ffffff;
  --ion-border-color: rgba(0,0,0,0.08);
}


//light forzao
html.force-light,
:root.force-light,
html.force-light.md,
:root.force-light.md,
body.force-light,
ion-app.force-light {
  color-scheme: light !important;
  --ion-background-color: #F2F2F2;
  --ion-text-color: #393A40;
  --ion-color-primary: #3880ff;
  --ion-toolbar-background: var(--ion-background-color);
  --ion-card-background: #D9D9D9;
  --ion-item-background: #D9D9D9;
  --ion-border-color: #5f5f5f36;
}

//darkkk
html.dark,
:root.dark,
html.dark.md,
:root.dark.md {
  color-scheme: dark;
  --ion-background-color: #0b0f14;    
  --ion-text-color: #e5e7eb;
  --ion-color-primary: #5aa9ff;
  --ion-toolbar-background: #0f141b;
  --ion-card-background: #111827;
  --ion-item-background: #0f141b;
  --ion-border-color: rgba(255,255,255,0.08);
}

//variables
ion-content { --background: var(--ion-background-color) !important; color: var(--ion-text-color); }
ion-app, html, body { background: var(--ion-background-color) !important; color: var(--ion-text-color); }
ion-toolbar { --background: var(--ion-toolbar-background) !important; --color: var(--ion-text-color); }
ion-item    { --background: var(--ion-item-background) !important; --border-color: var(--ion-border-color); color: var(--ion-text-color); }
ion-card    { --background: var(--ion-card-background) !important; color: var(--ion-text-color); }
ion-tab-bar { --background: var(--ion-toolbar-background) !important; --color: var(--ion-text-color); }